/* <div class="search">
      <input type="text" placeholder="请输入公司名称关键词">
      <span>搜索</span>
    </div> */

.search {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F0F0F0;
  margin-top: 10px;
}

.search input {
  width: 0;
  flex: 1;
  height: 100%;
  text-indent: 1em;
}

.search span {
  width: 60px;
  height: 100%;
  background-color: #B6A079;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}